/Day2/JavaApplication2/nbproject/private/
/Day2/JavaApplication2/build/
/Training/JavaTrainingWeek1/nbproject/private/
/Training/JavaTrainingWeek1/build/
/Day2/Loops/nbproject/private/
/Day2/Loops/build/
